fsm = {name}Machine
fsm_inner = {name}MachineInner
module = {name}_machine
event_params_trait = {name}MachineEventParams
event_enum = {name}MachineEvent
action_trait = {name}MachineActions
state_struct = {name}MachineState
state_id_enum = {name}MachineStateId
init_state_id_variant = _{name}MachineInitialState_
