fsm = {name}
fsm_inner = {name}Inner
module = {name}
event_params_trait = I{name}EventParams
event_enum = {name}Event
action_trait = I{name}Actions
state_struct = {name}StateNode
state_id_enum = {name}State
init_state_id_variant = _{name}InitialState_
